name: Test

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Run tests
        run: mise run test
